.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 5%;
  background-color: #2a3c40;
  color: white;
}

.flip-card-front h2 {
  font-weight: bold;
}

.flip-card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.card {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1100px) {
  .card-group {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 10% 0 10%;
  } 
}

@media (max-width: 550px) {
  .card-group {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 0 2.5% 0 2.5%;
  } 
}