<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="icon" type="imagem/x-icon" href="../../assets/imgs/batslogo">
    <link rel="stylesheet" href="./style.css">
    <title>Batstrap - Contato</title>
</head>
<body>
      
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="../index.html" class="navbar-brand">
            <img src="../../../assets/imgs/batsLogo.png" width="120" height="80" alt="Imagem logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./detalhes.html">Detalhes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contato.html">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../controller/cadastro.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../controller/login.html">Login</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <section id="titulo">
      <h1 class="fonte-titulo text-center cor-especial pt-5">Conheça a equipe.</h2>
    </section>

    <section class="container-fluid bg-light contatos">
      <div class="row justify-content-center">

        <article class="card borda-cor-especial tamanho-card col-10 col-md-4 p-0 m-4">
          <img src="../../../assets/imgs/gabi.jpg" class="card-img-top img-posicao"
            alt="Dev Douglas">
          <div class="card-body">
            <h5 class="card-title text-center">Gabriella Rodrigues</h5>
            <div class="card-body text-center">
              <a href="https://www.linkedin.com/in/gabriella-rodrigues-28b8a4168/" target="_blank" class="card-link">Linkedin</a>
              <a href="https://github.com/Gabriella-Rodrigues" target="_blank" class="card-link">GitHub</a>
            </div>
          </div>
        </article>
        <article class="card borda-cor-especial tamanho-card col-10 col-md-4 p-0 m-4">
          <img src="../../../assets/imgs/annanda.jpg" class="card-img-top img-posicao"
            alt="Dev Douglas">
          <div class="card-body">
            <h5 class="card-title text-center">Annanda Santos</h5>
            <div class="card-body text-center">
              <a href="https://www.linkedin.com/in/annanda-santos-a93196142/" target="_blank" class="card-link">Linkedin</a>
              <a href="https://github.com/asnts" target="_blank" class="card-link">GitHub</a>
            </div>
          </div>
        </article>
        <article class="card borda-cor-especial tamanho-card col-10 col-md-4 p-0 m-4">
          <img src="../../../assets/imgs/hadonias.jpeg" class="card-img-top img-posicao"
            alt="Dev Douglas">
          <div class="card-body">
            <h5 class="card-title text-center">Hadonias Leite</h5>
            <div class="card-body text-center">
              <a href="https://www.linkedin.com/in/hadonias-leite-barbosa-5b6b31219/" target="_blank" class="card-link">Linkedin</a>
              <a href="https://github.com/hadonias" target="_blank" class="card-link">GitHub</a>
            </div>
          </div>
        </article>
        <article class="card borda-cor-especial tamanho-card col-10 col-md-4 p-0 m-4">
          <img src="../../../assets/imgs/annanda.jpg" class="card-img-top img-posicao"
            alt="Dev Douglas">
          <div class="card-body">
            <h5 class="card-title text-center">Douglas Montes</h5>
            <div class="card-body text-center">
              <a href="https://www.linkedin.com/in/douglas-montes-875470223/" class="card-link">Linkedin</a>
              <a href="https://github.com/douglasmdev" class="card-link">GitHub</a>
            </div>
          </div>
        </article>

      </div>
    </section>

    <footer>
        <div class="card text-center">
          <div class="card-footer text-muted">
            <p class="copyright"> &copy; Todos os Direitos Reservados -
            <a href="https://github.com/hadonias"> Hadonias leite -</a> 
            <a href="https://github.com/douglasmdev"> Douglas Montes -</a>
            <a href="https://github.com/asnts"> Annanda Santos -</a>
            <a href="https://github.com/Gabriella-Rodrigues"> Gabriela Rodrigues - </a>  2022 &copy;            
            </p>
          </div>
       </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>