<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="imagem/x-icon" href="../../assets/imgs/batsLogo-removebg-preview.png">
    <title>Document</title>
</head>
<body>
      
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="../index.html" class="navbar-brand">
            <img src="../../../assets/imgs/batsLogo-removebg-preview.png" width="80" height="80" alt="Imagem logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/detalhes.html">Detalhes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/contato.html">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./controller/cadastro.html">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./controller/login.html">Login</a>
                    </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <footer>
        <div class="card text-center">
          <div class="card-footer text-muted">
            <p class="copyright"> &copy; Todos os Direitos Reservados -
            <a href="https://github.com/hadonias"> Hadonias leite -</a> 
            <a href="https://github.com/douglasmdev"> Douglas Montes -</a>
            <a href="https://github.com/asnts"> Annanda Santos -</a>
            <a href="https://github.com/Gabriella-Rodrigues"> Gabriela Rodrigues - </a>  2022 &copy;            
            </p>
          </div>
       </div>
    </footer>

</body>
</html>