
* {
    margin: 0;
    
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #A6A6A6, whitesmoke);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    height: 100%;
}

.form-row {
    display: flex;
    justify-content: center;
}

.botaoForm{
    background-color: #2A3C40;
    color: white;
    border: none;
    border-radius: 5px;
    transition: font-size 0.3s, background-color 0.1s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botaoForm:hover{    
    font-size: large;
}

.botaoForm:active{    
    background-color: #5a828b;
    font-size: large;
}

.inputBotao{
    display: flex;
}

.dado-invalido {
    border: 1px solid rgba(251, 169, 169, 0.548)!important;
    background-color: rgba(251, 169, 169, 0.548)!important;
}

.dado-valido {

    border: 1px solid rgb(173, 255, 173)!important;
    background-color: rgb(173, 255, 173)!important;
}