
* {
    margin: 0;
    
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #A6A6A6, whitesmoke);
}

.botaoForm{
    background-color: #2A3C40;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.botaoForm:hover{    
    font-size: large;
    
}

.inputBotao{
    display: flex;
}

