@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom,whitesmoke,#A6A6A6);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-image: linear-gradient(to right, #6f9ba5, #2a3c40);
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 15vh;
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: rgb(83, 170, 83)!important;
}

main {
    width: 100%;
    height: fit-content;
    min-height: 75%;
}

.descricao-breve, .descricao-detalhada {
    margin-top: 2%;
}

.botoes-descricao {
    width: 40vw;
    margin: 2% 30vw 2% 30vw;
    line-height: 40px;
}

.login, .recuperacao {
    width: 50%;
    margin: auto;
}

.carosselContainer{
    width: 100%;
    background-color: #0d0e0e6e; 
    height: 80%;
    margin-bottom: 2%;
}

.carosselContainer .carosselItem{
    width: 100%;
    height: 100%;
}

.imgCarousel{
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 0 60%;   
}

form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: center;
}

.botaoForm{
    background-color: #2A3C40;
    color: white;
    border: none;
    border-radius: 5px;
    transition: font-size 0.3s, background-color 0.1s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botaoForm:hover{    
    font-size: large;
}

.botaoForm:active{    
    background-color: #5a828b;
    font-size: large;
}

.inputBotao{
    display: flex;
}

.dado-invalido {
    border: 1px solid rgba(251, 169, 169, 0.548)!important;
    background-color: rgba(251, 169, 169, 0.548)!important;
}

.dado-valido {
    border: 1px solid rgb(173, 255, 173)!important;
    background-color: rgb(173, 255, 173)!important;
}


footer {
    height: 10vh;
    margin: 2% 0 0 0;
}

footer p {
    margin: 0;
}

footer > div {
    background-color: #2A3C40!important;
    border: 0px;
    border-radius: 0px!important;
}

footer a{
    color: whitesmoke;
}

.borda-cor-especial{
    background-color: #2a3c40;
    color: white;
}

.tamanho-card{
    max-width: 18rem;
}

.tamanho-card a {
    color: whitesmoke;
}

.tamanho-card a:hover {
    color: rgb(83, 170, 83);
}

.img-posicao{
    object-fit: cover;
    height: 300px;
}
